body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.banner {
    background-image: url('/portfolio/images/portfolio_banner.png');
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background-color: #555;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white; /* White background for the content area */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A subtle shadow around the content */
}
